h1{
    font-size: 60px;
    color: #5362F6;
    text-shadow:
    1px 1px 2px red,
    0 0 1em blue,
    0 0 0.2em blue;
    transition: 2s;
    margin-left:  450px;
  
}
 h1:hover{
    /* transform: translateX(100px); */
    /* transform: translateY(100px); */
    /* transform: translateZ(100px); */
    /* transform: translateX(-100px); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateZ(360deg); */
    /* transform: scaleX(1.2); */
    /* transform: scale(1.2,1.2); */
    /* transform: scaleY(1.2); */
    /* transform: skewX(20deg); */
    transform: skewY(20deg);
 }