/* h3{
    display: inline;
    not work because it is inline
    width: 400;
    height: 400;
    background-color: aquamarine;
} */

/* Display */

/* h3{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: aquamarine;  
}
span{
    display: inline-block;
    width:200px;
    height: 200px;
    background-color: rgb(127, 165, 255);  
} */

div{
    display: inline-block;
    width: 200px;
    height: 200px;
}

div:nth-of-type(2){
    /* display: none; */
    visibility: hidden;
}

